*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.7;
  font-size: 15px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul[role="list"] {
  list-style: none;
}
